AIR.UnityTestpilot/obj/
AIR.UnityTestpilot/bin/
UnityTestPilot/bin/
UnityTestPilot/obj/
.idea/
UnityExample/Library/
UnityExample/Temp/
UnityExample/ProjectSettings/
UnityExample/*.sln
UnityExample/Native/obj/
UnityExample/*.csproj
UnityExample/Logs/
.vs/

UnityExample/obj
