AIR.UnityTestpilot/obj/
AIR.UnityTestpilot/bin/
UnityTestPilot/bin/
UnityTestPilot/obj/
UnityExample/Library/
UnityExample/Temp/
UnityExample/ProjectSettings/
UnityExample/*.sln
UnityExample/Native/obj/
UnityExample/*.csproj
UnityExample/Logs/
UnityExample/obj
UnityTestPilot.sln.DotSettings.user

.vs/
.idea/
UnityExample/Build
UnityExample/CodeCoverage
